//---layout page 2---//
.grid2 {
	display: grid;
	grid-template-columns: minmax(220px, 250px)  1fr;
	grid-template-rows: 250px 1fr;
	grid-template-areas: 
	"topnav subnav"
	"main main";
}

.subnav {
	text-align: left;
	padding: 5em 0 0 2em;
}