//-----Variables-----//
$size_small: .5em;
$size_medium: 1em;
$size_large: 1.5em;
$size_xlarge: 2em;

$neutral_color: #404040;
$primary_color: #fff;

//---fonts---//
$mainfont: 'Roboto Slab', Bookman, serif;
$text_color_main: #000;
$text_color_secondary: #fff;

//----_IMAGES-----//

//---main---//
$image_main_large: url('../img/green-mountains-pc.jpg');
$image_main_medium: url('../img/green-mountains-tablet.jpg');
$image_main_small: url('../img/green-mountains-phone.jpg');

//---aside-top---//
$image_asidetop_large: url('../img/autumn-mountains-pc.jpg');
$image_asidetop_medium: url('../img/autumn-mountains-tablet.jpg');
$image_asidetop_small: url('../img/autumn-mountains-phone.jpeg');

//---aside-bottom---//
$image_asidebottom_large:  url('../img/mountains-clouds-pc.jpg');
$image_asidebottom_medium: url('../img/mountains-clouds-tablet.jpg');
$image_asidebottom_small: url('../img/mountains-clouds-phone.jpg');

